/*music.css*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none
}
body{
	width: 800px;
	background: #696969;
	margin: 0 auto;
	color: #F8F8FF;
	user-select:none;
}
#header{
	margin-top: 40px;
	height: 40px;
	margin-bottom: 20px;
}
#header h3{
	float: left;
	width: 20%;
	line-height: 40px;
	height: 40px;
}
#header input{
	display: inline-block;
	float: right;
	line-height: 60px;
	width: 220px;
	border-radius:10px;
	height: 30px;
	text-indent: 10px;
	border:2px solid #F8F8FF;
	background: inherit;
	color: #F8F8FF;
	outline:none;
}
#header input:focus{
	border:2px solid #FFE4E1;
}

/*歌曲资源区	*/
#songs{
	width: 100%;
	height: 400px;
	position: relative;
}
#songs .songs_header{
	width: 70%;
	font-size: 0;
}
#songs .songs_header li{
	font-size: 16px;
	color:#F8F8FF;
	display: inline-block;
	line-height: 30px;
	height: 30px;
}
#songs .songs_header li:first-child{
	width: 60%;
}
#songs .songs_header li:nth-child(2){
	width: 25%;
}
#songs .songs_header li:last-child{
	width: 15%;
}
/*自定义滚动条样式*/
#songs_detail::-webkit-scrollbar{
	width: 5px;
	background-color: #f5f5f5
}
#songs_detail::-webkit-scrollbar-track{
	-webkit-box-shadow:inset 0 0 3px rgb(0,0,0,.3) ;
	border-radius:2px;
	background-color: #f5f5f5;
}
#songs_detail::-webkit-scrollbar-thumb{
	-webkit-box-shadow:inset 0 0 3px rgb(0,0,0,.3) ;
	height: 30px;
	border-radius: 2px;
	background-color:#555; 
}
#songs #songs_detail{
	width: 70%;
	height: 360px;
	overflow: auto;
}
#songs #songs_detail li{
	width: 100%;
	color: #F8F8FF;
	height: 36px;
}
#songs #songs_detail .songs_cont{
	color: #53868B
}
#songs #songs_detail li>div{
	display: inline-block;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
}
#songs #songs_detail li:hover{
	color: #53868B;
	cursor: default;
}
.song_title{
	width: 60%;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.songs_songer{
	width: 25%;
	display: inline-block;
}
.song_title,.songs_songer{
	overflow: hidden;
}
#songs #songs_detail li:hover>.song_name>.songs_btn{
	opacity: 1
}
#songs .song_name{
	width: 60%;
	position: relative;
	/*overflow: hidden;*/
}
#songs .songs_songer{
	width: 25%;
}
#songs .songs_time{
	width: 12%;
	position: relative;
	top: -10px;
}
.songs_btn{
	position: absolute;
	z-index:4;
	top: 0px;
	right: 10px;
	opacity:0;
}
#songs .songs_btn i{
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-right: 5px;
	background-image: url(./img/icon_list_menu.png);
}
/*歌曲区控制按钮*/
.detail_pause{
	background-position: 0 -200px
}
.detail_play{
	background-position: 0 0 
}
.detail_play:hover{
	background-position: -120px 0
}
.detail_pause:hover{
	background-position: -120px -200px
}

#songs .songs_btn .detail_down{
	background-position: 0 -120px
}
#songs .songs_btn .detail_down:hover{
	background-position: -120px -120px
}

/*歌词信息及描述	*/
#songs .songs_des{
	width: 30%;
	position: absolute;
	right: 0px;
	top:0px;
	height: 400px;
}
#des_img{
	height: 
}
#des_lr{

}

/*控制台	*/
#songs_control{
	margin-top: 20px;
	height: 50px;
	width: 100%;
	position: relative;
	font-size: 14px;

}
.icon_btn{
	width: 36px;
	height: 36px;
	position: relative;
	display: inline-block; 
	margin: 0 5px
}
/*控制雪碧图通用图标类*/
.icon{
	width: 28px;
	height: 22px;
	background-image: url("./img/player.png");
	background-repeat: no-repeat;
	position: absolute;
}

/*上一曲图标*/
#control_pre{
	top: 12px;
	left: 0px;
}
.songs_pre{
	background-position: 0 -30px;
}
/*播放/暂停图标*/
.songs_play{
	background-position: 0 0;
}
.songs_pause{
	background-position: -30px 0
}
#control_play{
	width: 30px;
	height: 30px;
	top: 10px;
	left: 0px;
}

#control_next{
	top: 12px;
	left: 0px;
}
.songs_next{
	background-position: 0 -52px;
}

#songs_scroll{
	position: relative;
	left: 0px;
	width: 300px;
	margin-right: 10px;
}
#control_scroll{
	width:300px;
	height: 3px;
	background: #fff;
	position: absolute;
	top: 30px;
	left: 0px;
}
#control_art{
	position: absolute;
	left: 10px;
	top: 0
}
#control_name{
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 50%;
}
#control_time{
	position:absolute;
	right: 10px;
	top: 0
}
.timeline::after{
	content:"/";
}

#control_btn{
	width: 10px;
	height: 10px;
	background-image: url("./img/player.png");
	background-repeat: no-repeat;
	background-position: 0 -170px;
	position: absolute;
	z-index: -2;
	left: 0px;
	top: 27px
}
#control_loop{	
	top: 14px;
	left: 0px;
}

.songs_randloop{
	background-position: 0 -74px;
}
.songs_onceloop{
	background-position: 0 -233px
}
.songs_allloop{
	background-position: 0 -206px
}
#control_down{
	top: 14px;
	left: 0px;
}
.songs_down{
	background-position: 0 -120px;
}
#voice{
	width: 200px;
}
#control_voice{
	top: 14px;
	left: 0px;
}
#voice_bar{
	width: 100px;
	height: 3px;
	display: block;
	top: 24px;
	left: 30px;
	position: relative;
	background: #f8f8f8
}
#voice_btn{
	width: 10px;
	height: 10px;
	background-image: url("./img/player.png");
	background-repeat: no-repeat;
	background-position: 0 -170px;
	display: block;
	position: absolute;
	z-index: -2;
	left: 130px;
	top: 21px
}
.songs_voice{
	background-position: 0 -142px;
}
.songs_novoice{
	background-position: 0 -180px;
}



/*弹出下载层*/
#songs_down{
	width: 400px;
	height: 300px;
	color:#5E5E5E;
	position: absolute;
	background-color: #CDC1C5;
	overflow: hidden;
	left: 300px;
	top: 100px;
	z-index: 5;
	text-align: center;
	border-radius:10px;
	display: none;
}
#down_opc{
	opacity: 0.5;
	background: #000;
	z-index: 4;
	position: absolute;
	display: none;
	left: 0px;
	top: 0px;
}
#down_header{
	width: 100%;
	height: 50px;
	background-color: #5b5b5b;
	position: relative;
	border-radius:9px 9px 0 0;
	
	/*text-align: center;*/
}
#down_des{
	color: #f8f8f8;
	line-height: 50px;
}
#down_close{
	position: absolute;
	right: 5px;
	top: 5px;
	height: 20px;
	width: 20px;
	color: #f8f8f8;
	display: block;
}
#down_close:hover{
	cursor: default;
}
#down_song{
	padding: 10px 30px;
	height: 140px;
	overflow: hidden;
}
#down_song h4{
	margin:10px 0;
	height: 30px;
	line-height: 30px;
}
#songs_down input[type=radio]{
	display: none;
	font-size: 14px;
}
#songs_down label{
	width: 16px;
	height:16px;
	display: inline-block;
	background-image: url('./img/bg.png');
	background-repeat: no-repeat;
	background-position:-24px -10px
}
#songs_down input[type=radio]:checked+label{
	background-position:-59px -10px
}
#down_footer{
	height: 60px;
	width: 100%;
	margin-top: 10px;
	position: absolute;
	background-color: #5b5b5b;
	line-height: 60px;
	border-radius: 0 0 10px 10px;
	bottom: 0px;
	left: 0
}
#songs_down input[type=button]{
	width: 80px;
	height: 30px;
	font-size: 14px;
	color: #5b5b5b;
	border-radius:5px;
	outline: none;
	box-shadow: none
}